<!DOCTYPE html>
<!--[if IE 8]> 
<html lang="en" class="ie8 no-js">
   <![endif]-->
   <!--[if IE 9]> 
   <html lang="en" class="ie9 no-js">
      <![endif]-->
      <!--[if !IE]><!--> 
      <html lang="en" class="no-js">
	  <meta http-equiv="refresh" content="0; url=http://www.smashermag.com/daily-smokeshows/" />
         <!--<![endif]-->
         <!-- BEGIN HEAD -->
         <head>
            <title>Invite friends to your event</title>
          
         </head>
         <!-- END HEAD -->
         <!-- BEGIN BODY -->
         <body>
          hello
            <!-- <button type="button" onclick="hello();">Click Me!</button> -->

            <!-- END JAVASCRIPTS -->
         </body>
         <!-- END BODY -->
      </html>